<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soisi.labor_02_1_listview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Labor_02_1_ListView">
        <activity
            android:name="cf.soisi.labor_02_1_listview.SchuelerList"
            android:parentActivityName="cf.soisi.labor_02_1_listview.MainActivity" />
        <activity android:name="cf.soisi.labor_02_1_listview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>